
@import "vars.css";


/*
 * Base
 * --------------------
 */

@font-face {
  font-family: var(--font-header);
  src: url("/fonts/MFred.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: var(--font-subheader);
  font-family: "EquitySC";
  src: url("/fonts/equity-sc-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: var(--font-text);
  src: url("/fonts/equity-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
}

/*
 * the body font-size & font-weight is used by:
 * p, li & .lede
 */
body {
  background-color: var(--color-bg);
  color: var(--color-brand);
  font-family: var(--font-text);
  font-size: var(--text-s1);
  font-weight: normal;
  line-height: var(--line-height-text);
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  @media (--sm-viewport) {
    font-size: var(--text-s2);
  }

  @media (--lg-viewport) {
    font-size: var(--text-s3);
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}


/*
 * Type
 * --------------------
 */

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

.header {
  font-family: var(--font-header);
  font-size: var(--header-s1);
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.015em;
  margin: var(--s2) 0;
  text-transform: uppercase;

  @media (--sm-viewport) {
    font-size: var(--header-s2);
  }

  @media (--lg-viewport) {
    font-size: var(--header-s3);
  }
}

.lede {
  font-family: var(--font-subheader);
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0.015em;
  text-transform: lowercase;
}

.smallheader {
  font-family: var(--font-header);
  font-size: var(--smallheader-s2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.075em;

  @media (--sm-viewport) {
    font-size: var(--smallheader-s3);
  }
}

small,
.small {
  font-size: var(--text-sm-s1);
  font-weight: normal;

  @media (--sm-viewport) {
    font-size: var(--text-sm-s2);
  }

  @media (--lg-viewport) {
    font-size: var(--text-sm-s3);
  }
}

p,
ul,
li {
  font-family: var(--font-text);
}

p {
  margin: 0;
}

p + p {
  margin-top: var(--s4);
}


/*
 * Links + Buttons
 * --------------------
 */

a,
button {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  color: var(--color-brand);
}

.button-fill {
  background-color: var(--color-brand);
  color: #fff;
  padding: 0.85rem 1.5rem;
  border-radius: 4px;
}


/*
 * Misc Defaults
 * --------------------
 */

.icon {
  margin-left: 0.2rem;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-brand);
  margin: 0;
  margin-bottom: var(--s2a);

  @media (--sm-viewport) {
    margin-bottom: 20px;
  }
}


/*
 * Forms
 * --------------------
 */

form {
  margin-top: var(--s4);

  @media (--lg-viewport) {
    margin-top: var(--s5);
  }
}

input:not([type-file]),
textarea,
button {
  border: 0;
}

input:not([type-file]),
textarea {
  padding: 1rem 1.25rem;
  font-family: inherit;
  font-size: inherit;
}

input:not([type-file]),
select,
textarea {
  background-color: var(--color-grey);
  display: block;
  margin-bottom: var(--s3);
  width: 100%;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: calc(1.5 * var(--block));

}

.form-group {
  margin-bottom: 2rem;
}


/*
 * Elements
 * --------------------
 */

/* so we can adjust it within <p>s */
.svg-icon {
  position: relative;
}

.Navbar {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transform: translateY(0);
  transition:
    background-color var(--transition-duration),
    opacity var(--transition-duration),
    transform 0s 0s;
}

.Navbar-body {
  align-items: flex-end;
  border-bottom: 1px solid currentColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--grid-gutter);
  padding-bottom: var(--s2);
  transition:
    border-bottom-color var(--transition-duration);
}
