
@import "vars.css";


/*
 * Base
 * --------------------
 */

@font-face {
  font-family: var(--font-header);
  src: url("/fonts/MFred.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: var(--font-subheader);
  font-family: "EquitySC";
  src: url("/fonts/equity-sc-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: var(--font-text);
  src: url("/fonts/equity-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: var(--font-text-italic);
  src: url("/fonts/equity-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
}

/*
 * the body font-size & font-weight is used by:
 * p, li & .lede
 */
body {
  background-color: var(--color-bg);
  color: var(--color-brand);
  font-family: var(--font-text);
  font-size: var(--text-s1);
  font-weight: normal;
  line-height: var(--line-height-text);
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  @media (--sm-viewport) {
    font-size: var(--text-s2);
  }

  @media (--lg-viewport) {
    font-size: var(--text-s3);
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}


/*
 * Type
 * --------------------
 */

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

.header {
  font-family: var(--font-header);
  font-size: var(--header-s1);
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.015em;
  margin: var(--s2) 0;
  text-transform: uppercase;

  @media (--sm-viewport) {
    font-size: var(--header-s2);
  }

  @media (--lg-viewport) {
    font-size: var(--header-s3);
  }
}

.lede {
  font-family: var(--font-subheader);
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0.015em;
  text-transform: lowercase;
}

.smallheader {
  font-family: var(--font-header);
  font-size: var(--smallheader-s2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.075em;

  @media (--sm-viewport) {
    font-size: var(--smallheader-s3);
  }
}

small,
.small {
  font-size: var(--text-sm-s1);
  font-weight: normal;

  @media (--sm-viewport) {
    font-size: var(--text-sm-s2);
  }

  @media (--lg-viewport) {
    font-size: var(--text-sm-s3);
  }
}

p,
ul,
li {
  font-family: var(--font-text);
}

p {
  margin: 0;
}

p + p {
  margin-top: var(--s4);
}

.contact-marker {
  display: inline-block;
  font-family: var(--font-subheader);
  width: 1.5em;
}


/*
 * Links + Buttons
 * --------------------
 */

a,
button {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  color: var(--color-brand);
}

.button {
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--color-brand);
  /*line-height: 2;*/
  padding: 13px 1.5rem 17px;
}

.button-fill {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  color: white;
}

button:disabled {
  cursor: initial;
  opacity: 0.5;
}



.small.button {
  padding: 8px 1rem 12px;
}


/*
 * Markdown scope
 * TODO: This should be a comp so we can scope it better.
 * --------------------
 */

.text section + section {
  margin-top: var(--s4);

  @media (--lg-viewport) {
    margin-top: var(--s5);
  }

  @media (--lg-viewport) {
    margin-top: var(--s6);
  }
}

.text a {
  /*background-image: linear-gradient(to bottom, rgba(var(--color-text),0) 50%,  rgba(var(--color-text),0.4) 50%);*/
  /*background-image: linear-gradient(to bottom, rgba(51,51,51,0) 50%,  rgba(51,51,51,0.4) 50%);*/
  /*background-color: color(rgba(11, 48, 89, 0.1) saturation(+ 10%));*/
  background-color: rgba(135,244,180,0.5);
  background-repeat: repeat-x;
  background-size: 1px 2px;
  background-position: 0 100%;
  padding-bottom: 0;
  text-decoration: none;

  &:hover {
    /*text-decoration: underline;*/
  }
}

.text ul {
  list-style: disc;
  margin: var(--s4) 0;
  padding-left: 1em;
}

/*.text .smallheader + p,*/
.text ul + p {
  margin-top: var(--s4);
}

.text blockquote {
  margin: var(--s4) 0;
}

.text p em,
.text blockquote p {
  font-family: var(--font-text-italic);
}

.text blockquote p {
  border-left: 1px solid var(--color-brand);
  padding-left: var(--s4);
  /*opacity: 0.7;*/
}

.text .smallheader {
  margin: var(--s4) 0 var(--s3);
}

.text img {
  /*border: 1px solid var(--color-border);*/
  margin-bottom: var(--s4);
}

.text figure {
  margin: var(--s4) 0;

  @media (--lg-viewport) {
    margin: var(--s5) 0;
  }

  & img {
    margin: 0;
  }
}

.text .button {
  background-color: transparent;
  padding: 13px 1.5rem 17px;
}

.text .button-fill {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  color: white;
}


/*
 * Forms
 * --------------------
 */

form {
  margin-top: var(--s4);

  @media (--lg-viewport) {
    margin-top: var(--s5);
  }
}

input:not([type-file]),
textarea,
button {
  border: 0;
}

input:not([type-file]),
textarea {
  padding: 1rem 1.25rem;
  font-family: inherit;
  font-size: inherit;
}

input:not([type-file]),
select,
textarea {
  background-color: var(--color-grey);
  display: block;
  margin-bottom: var(--s3);
  width: 100%;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: calc(1.5 * var(--block));

}

.form-group {
  margin-bottom: var(--s4);
}


/*
 * Elements
 * --------------------
 */

/* 1. so we can adjust it within <p>s */
.svg-icon {
  color: inherit;
  display: inline-block;
  fill: none;
  /*height: 16px;*/
  position: relative; /*1*/
  stroke: currentColor;
  vertical-align: middle;
  /*width: 16px;*/
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-brand);
  margin: 0;
  margin-bottom: var(--s2a);

  @media (--sm-viewport) {
    margin-bottom: 20px;
  }
}

.Navbar {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transform: translateY(0);
  transition:
    background-color var(--transition-duration),
    opacity var(--transition-duration),
    transform 0s 0s;
}

.Navbar-body {
  align-items: flex-end;
  border-bottom: 1px solid currentColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--grid-gutter);
  padding-bottom: var(--s2);
  transition:
    border-bottom-color var(--transition-duration);
}

/*
 * Scroll back to the top
 * ----------------------
 */

.go-top {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: calc(1.5 * var(--grid-gutter));
  transform: translateY(0);
  transition:
    opacity var(--transition-duration) var(--transition-debounce),
    transform 0s var(--transition-debounce);
}

.go-top.hidden {
  opacity: 0;
  transform: translateY(100vh);
  transition:
    opacity var(--transition-duration),
    transform 0s var(--transition-duration);
}

/*
 * Page lines
 * --------------------
 */

.the-history {

}


/*
 * Lightbox
 * --------------------
 */

/*.lightbox {}
.lightbox__thumbnail {}
.lightbox__thumbnail img {}
.lightbox__close {}
.lightbox__arrow--invisible {}
.lightbox__element {}
.lightbox__arrow {}
.lightbox__arrow svg {}
.lightbox__image {}
.lightbox__image img {}*/

/*
 * scoped to avoid !important everywhere
 */

.text {
  & .lightbox {
    background: var(--color-bg);
    z-index: 99;
  }

  & .lightbox__thumbnail {
    background: none;
    display: block;
    position: relative;
  }

  & .lightbox__thumbnail:after {
    align-items: center;
    background-color: rgba(135,244,180,0.7);
    bottom: 0;
    color: var(--color-brand);
    content: "View more";
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;

    /*text*/
    font-family: var(--font-header);
    font-size: var(--smallheader-s2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.075em;

    @media (--sm-viewport) {
      font-size: var(--smallheader-s3);
    }
  }

  & .lightbox__thumbnail:hover:after {
    opacity: 1;
  }

  & .lightbox__thumbnail img {
    margin: 0;
  }

  & .lightbox__element {
    max-width: var(--container-rg);
  }

  & .lightbox__close {
    color: var(--color-brand);
    font-size: 4rem;
    padding: 0;
  }

  & .lightbox__arrow {
    padding: 0 var(--grid-gutter);
  }

  & .lightbox__arrow svg {
    fill: var(--color-brand);
    height: var(--s5);
    width: var(--s5);
  }

  & .lightbox__image img {
    margin-bottom: 0;
  }
}

/*
 * Vue transitions
 * https://vuejs.org/v2/guide/transitions.html
 * --------------------
 */

/* Fade */

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
